<% flight = Flight.find(@flight_id) %>
<p>Informações do voo</p>
<p>Partida: <%=Airport.find(flight.departure_airport_id).city %></p>
<p>Destino: <%=Airport.find(flight.arrival_airport_id).city %></p>
<p>Data/Horario: <%= Flight.flight_date_formatted(flight.start_datetime) %></p>
<p>Duração do Voo: <%= Flight.flight_duration_formatted(flight.flight_duration) %></p>


<%= form_for @booking do |b| %>
    <%= b.hidden_field :flight_id, value: flight.id %>
    <%= b.fields_for :passengers do |f| %>
    <%= f.hidden_field :id, value: nil%>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
  <%end %>
  <%= b.submit %>
<% end %>

